<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServABMAlumnos</servlet-name>
        <servlet-class>Servlets.ServABMAlumnos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServReportes</servlet-name>
        <servlet-class>Servlets.ServReportes</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServABMAlumnos</servlet-name>
        <url-pattern>/ServABMAlumnos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServReportes</servlet-name>
        <url-pattern>/ServReportes</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
